* {
  box-sizing: border-box;
}
body {
  background-color: #0048ff;
  font-family: "Days One";

  text-align: center;
}
.title {
  color: #ff4d6d;
  font-size: 40px;
}
.section1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* КОРОБКА */

.gift-box {
  position: relative;
  width: 320px;
  height: 300px;
  margin: 0 auto; /* центрирует */
}

/* ТЕЛО ПОДАРКА */

.gift-body {
  position: absolute;
  bottom: 0;
  width: 320px;
  height: 230px;
  background: #fc7520;
  border-radius: 12px;
}

/* КРЫШКА */

.gift-lid {
  position: absolute;
  top: 0;
  left: -10px;
  width: 340px;
  height: 70px;
  background: #ff9b43;
  border-radius: 12px;
  transition: 0.8s;
  z-index: 2;
}
/* КАРТОЧКА */

.photo-card {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%) translateY(120px);
  width: 180px;
  height: 220px;
  perspective: 1000px;
  opacity: 0;
  transition: 1s;
  z-index: 3;
}

/* когда подарок открыт */

.gift-box.open .photo-card {
  transform: translateX(-50%) translateY(-160px);
  opacity: 1;
}

/* внутренняя часть для переворота */

.photo-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.8s;
  cursor: pointer;
}

/* переворот */

.photo-card.flipped .photo-inner {
  transform: rotateY(180deg);
}

/* стороны */

.photo-front,
.photo-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* задняя сторона */

.photo-back {
  transform: rotateY(180deg);
}

/* изображения */

.photo-front img,
.photo-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* АНИМАЦИЯ ОТКРЫТИЯ */

.gift-box.open .gift-lid {
  transform: translateY(-150px) rotate(-12deg);
}

/* ВЕРТИКАЛЬНАЯ ЛЕНТА */

.ribbon-vertical {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 100%;
  background: #ffd166;
}

/* ГОРИЗОНТАЛЬНАЯ ЛЕНТА */

.ribbon-horizontal {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 40px;
  background: #ffd166;
}

/* БАНТИК */

.bow {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 40px;
}

.bow::before,
.bow::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #ffd166;
  border-radius: 50%;
}

.bow::before {
  left: 0;
}

.bow::after {
  right: 0;
}

/* кнопка */

.open1 {
  padding: 15px 40px;
  font-size: 20px;
  font-family: "Days One";
  border: none;
  border-radius: 10px;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
}

/* эмодзи */

.emoji {
  position: absolute;
  animation: fall linear forwards;
}

@keyframes fall {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(100vh);
  }
}
#fireworks {
  position: absolute;
  bottom: 8vw;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 5;
  width: 0;
  height: 0;
}

.firework {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: explode 1s ease-out forwards;
}

@keyframes explode {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    transform: translate(var(--x), var(--y));
    opacity: 0;
  }
}
/* мобильный адаптив */

@media (max-width: 600px) {
  .title {
    font-size: 26px;
    color: #ff4d6d;
  }

  .gift-box {
    transform: scale(0.7);
  }
}
